
<script type="text/javascript" src="https://static.zipmoney.com.au/lib/js/zm-widget-js/dist/zip-widget.min.js"> </script>

<div data-zm-merchant="";
     data-env="production";
     data-zm-region="mx";
     data-zm-language="es";
     data-zm-display-inline="true";
     data-zm-widget="popup";
     data-zm-asset="productwidget";
     data-zm-popup-asset="termsdialog";
     >
    
</div>


  <style type="text/css">


.zip-container span {
    font-size: 13px !important;
    margin-top: 2px;
    margin-bottom: 0px;
    display: inline;
}
  
    .zip-widget__wrapper {
    padding: 0px !important;
}
    
    img.zip-logo {
    filter: brightness(1.1)!important;
    mix-blend-mode: multiply!important;
}
#shopify-section-product-template .kp-product-zip {
    padding-left: 0px!important;
    color: #333!important;
    margin-bottom: 0!important;
    border-bottom: 1px solid #dadada!important;
}
</style>